<ion-content [fullscreen]="true">
  <div class="gradient">
    <h1><u>Estatísticas</u></h1>
  </div>
  



</ion-content>

<!-- footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon name="stats-chart-outline" routerLink="../estatisticas" class="selected"></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon name="home-outline" routerLink="../inicio" ></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon routerLink="../produtos" name="cube-outline"></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon name="settings-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
