<ion-content [fullscreen]="true">
  <div class="gradient">
    <h1><u>Produtos</u></h1>
  </div>

  <div class="card-produtos">
    <div class="cards">
      <h1>Hamburguer</h1>

      <div class="card-text-dentro">
        <p>Quantidade:</p>
        <p class="background">20</p>
      </div>
      <div class="card-text-dentro">
        <p>Preço:</p>
        <p class="background">R$ 20,00</p>
      </div>
      <div class="card-text-dentro">
        <p>Validade:</p>
        <p class="background">20/12</p>
      </div>

      <button class="editar">Editar</button>
    </div>
    <div class="cards">
      <h1>Abacaxi da Africa</h1>

      <div class="card-text-dentro">
        <p>Quantidade:</p>
        <p class="background">12</p>
      </div>
      <div class="card-text-dentro">
        <p>Preço:</p>
        <p class="background">R$ 20,00</p>
      </div>
      <div class="card-text-dentro">
        <p>Validade:</p>
        <p class="background">20/12</p>
      </div>

      <button class="editar">Editar</button>
    </div>
    <div class="cards">
      <h1>Salsichas</h1>

      <div class="card-text-dentro">
        <p>Quantidade:</p>
        <p class="background">60</p>
      </div>
      <div class="card-text-dentro">
        <p>Preço:</p>
        <p class="background">R$ 20,00</p>
      </div>
      <div class="card-text-dentro">
        <p>Validade:</p>
        <p class="background">20/12</p>
      </div>

      <button class="editar">Editar</button>
    </div>
    <div class="cards">
      <h1>Batatas fritas</h1>

      <div class="card-text-dentro">
        <p>Quantidade:</p>
        <p class="background">60</p>
      </div>
      <div class="card-text-dentro">
        <p>Preço:</p>
        <p class="background">R$ 20,00</p>
      </div>
      <div class="card-text-dentro">
        <p>Validade:</p>
        <p class="background">20/12</p>
      </div>

      <button class="editar">Editar</button>
    </div>
  </div>

  <!-- <div class="ProdVendidos">
    <h1>Produtos mais vendidos</h1>
  </div>

  <div>
    <div class="graf">
      <p>70 Vendas</p>
    </div>
  </div> -->
</ion-content>

<!-- footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="stats-chart-outline" routerLink="../estatisticas"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="home-outline" routerLink="../inicio"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon routerLink="../produtos" name="cube-outline" class="selected"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="settings-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>