.gradient {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(#143cc9, #1d8efc);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
}

.info-box h2 {
  color: #1765db;
  font-size: 18px;
  margin: 0%;
  font-weight: 700;
}

.info-box p {
  color: #212c4a;
  font-size: 14px;
  text-align: center;
  margin: 0%;
  font-weight: 700;
}

.selected {
  color: #143cc9;
  font-size: 32px;
  margin-bottom: 7px;
  transition: 2s;
}

ion-tabs {
  position: fixed;
  bottom: 0;
}

.lembretes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-lembrete {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin-bottom: 20 px;
  background-color: #d8e7ff38;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.lembrete-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.lembretes-single {
  height: 52px;
  width: 340px;
  margin: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.backgroundlogo {
  background-color: #00b1b1;
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
}