.gradient {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(#143CC9, #1D8EFC);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
}


.info-box h2 {
    color: #1765DB;
    font-size: 18px;
    margin: 0%;
    font-weight: 700;
}

.info-box p {
    color: #212C4A;
    font-size: 14px;
    text-align: center;
    margin: 0%;
    font-weight: 700;
}

.selected {
    color: #143CC9;
    font-size: 32px;
    margin-bottom: 7px;
    transition: 2s
}

ion-tabs {
    position: fixed;
    bottom: 0;
}

.box-lembrete {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 360px;
  width: 330px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.lembretes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lembrete-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.lembretes-single {
  height: 150px;
  width: 95%;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}