<ion-content>
  <div class="gradient">
    <h1><u>Lembretes</u></h1>
  </div>
  
  <div class="lembrete-titulo">

    <h2>Lembrete</h2>

  </div>


    <div class="lembretes">
  
      
      <div class="box-lembrete">
        
        <div class="lembretes-single"></div>
        
      </div>
      
    </div>
</ion-content>



<!-- footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="stats-chart-outline" routerLink="../estatisticas"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="home-outline" routerLink="../inicio"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon routerLink="../produtos" name="cube-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="settings-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>