<ion-content [fullscreen]="true">

  <div class="gradient">
    <h1>Olá, "seu names"</h1>
  </div>
  <div class="text-box">

    <div class="info-box">
      <h2>R$1,290</h2>
      <p>Semanal</p>
    </div>


    <div class="info-box">
      <h2>R$9,030</h2>
      <p>Mensal</p>
    </div>


    <div class="info-box">
      <h2>R$36,120</h2>
      <p>Anual</p>
    </div>

  </div>


  <div class="lembrete-titulo">
    <h2>Lembrete</h2>
    <ion-icon class="icone-arrow" name="caret-forward-outline"></ion-icon>
  </div>


  <div class="box-center-content">

    <div class="box-lembretes">

      <div class="lembretes">
        <div class="backgroundlogo">
          <ion-icon name="bookmarks">
          </ion-icon>
        </div>
        <p>Amendoim expira amanhã!</p>
      </div>

      <div class="lembretes">
        <div class="backgroundlogo">
          <ion-icon name="bookmarks">
          </ion-icon>
        </div>
        <p>Você cumpriu uma meta!</p>
      </div>

      <div class="lembretes">
        <div class="backgroundlogo">
          <ion-icon name="bookmarks">
          </ion-icon>
        </div>
        <p>Um evento está próximo.</p>
      </div>



    </div>

  </div>

  <div class="estatisticas-titulo">
    <h2>Estatísticas</h2>
    <ion-icon class="icone-arrow" name="caret-forward-outline"></ion-icon>
  </div>

  <div class="estat">


    <div class="box-estat">
      <p>grafico</p>


      <div class="legenda-estat">
        <div class="legenda-color"></div>
        <div class="legenda-text">Legenda</div>
      </div>

      <div class="legenda-estat">
        <div class="legenda-color"></div>
        <div class="legenda-text">Legenda</div>
      </div>

      <div class="legenda-estat">
        <div class="legenda-color"></div>
        <div class="legenda-text">Legenda</div>
      </div>
    </div>



  </div>

  <div class="vender-titulo">
    <h2>Vender</h2>
    <ion-icon class="icone-arrow" name="caret-forward-outline"></ion-icon>
  </div>

</ion-content>

<!-- footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon name="stats-chart-outline" routerLink="../estatisticas"></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon name="home-outline" routerLink="../inicio" class="selected"></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon routerLink="../produtos" name="cube-outline"></ion-icon>
  </ion-tab-button>
  
  <ion-tab-button>
    <ion-icon name="settings-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
